body {
  display: grid;
    text-align: center;
  background-color: lightgrey;
  font-family: sans-serif;
}

h1 {
  margin: 2rem auto;
}
h2 {
    margin: 0.5rem auto;
}

div {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
div:hover, div:active {
  background-color: grey;
}

form {
  display: grid;
  text-align: center;
  gap: 2ch;
  margin: auto;
  max-width: 80ch;

    box-shadow: 1rem 1rem 1rem black;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 0.5rem;
}

.formItem > input, label {
  max-width: 30ch;
  min-width: 20ch;
}

input {
  border-radius: 5px;
  width: 15rem;
  height: 1.4rem;
}

input + span {
  position: relative;
}

input + span::before {
  position: absolute;
  right: -20px;
  top: -20px;
}

input:invalid {
  border: 2px solid red;
}

input:invalid + span::before {
  content: "✖";
  color: red;
}

input:valid + span::before {
  content: "✓";
  color: green;
}

#submitBtn, #resetBtn {
    max-width: 40%;
}

#submitBtn {
    background-color: lightblue;
}
#submitBtn:hover, #submitBtn:active {
    color: white;
    background-color: blue;
}

#resetBtn {
    background-color: rgb(255, 128, 128);
}
#resetBtn:hover, #resetBtn:active {
    background-color: red;
}
